#header {
  height: 7vh;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add {
  margin-left: 1vw;
  background: linear-gradient(to right, #b58ecc, #5de6de);
  height: 5vh;
  width: 5.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 4vh;
  color: white;
  cursor: pointer;
  user-select: none;
}
#h1 {
  font-family: "Work Sans";
  font-weight: bolder;
}
#menu {
  margin-right: 1vh;
  margin-left: 1vh;
  background: linear-gradient(to right, #b58ecc, #5de6de);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 500px) {
  #header {
    height: 6vh;
    user-select: none;
  }

  #add {
    font-size: 2.4vh;
    height: 3vh;
    width: 3.2vh;
  }
}
