@import "../../styles.scss";

#header {
  height: 7vh;
  user-select: none;
  @include flexCenter;
}

#add {
  margin-left: 1vw;
  background: var(--bgcolor);
  height: 5vh;
  width: 5.2vh;
  @include flexCenter;
  border-radius: 50%;
  font-size: 4vh;
  color: var(--color4);
  cursor: pointer;
  user-select: none;
}
#h1 {
  font-family: var(--font2);
  font-weight: bolder;
}
#menu {
  margin-right: 1vh;
  margin-left: 1vh;
  @include colorclip;
}

@media screen and (max-width: 500px) {
  #header {
    height: 6vh;
    user-select: none;
  }

  #add {
    font-size: 2.4vh;
    height: 3vh;
    width: 3.2vh;
  }
}
