@import "../../styles.scss";

form {
  height: 72vh;
  border-radius: 1vh;
  box-shadow: 5px 5px 5px 5px var(--shadow);
  @include selfcenter;
  font-family: var(--font1);

  button {
    margin-top: 3vw;
    background: var(--bgcolor);
    border: none;
    color: var(--color3);
    border-radius: 30px;
    padding: 1vh;
    font-family: var(--font2);
    font-weight: bolder;
  }
  label {
    user-select: none;
    color: var(--color1);
    font-weight: bold;
  }
  #icon {
    font-size: var(--iconxl);
    color: var(--color2);
  }
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }
  h1 {
    font-family: var(--font1);
    font-weight: bolder;
    user-select: none;
    font-size: var(--fontmedium);
  }
  span {
    user-select: none;
  }
  a {
    padding-top: 0.5vh;
    font-size: var(--fontxs);
    color: var(--color3);
  }
}

@media screen and (max-width: 500px) {
  form {
    @include fullscreen;
    h1 {
      height: max-content;
      font-size: var(--mobilefontmedium);
    }
    #icon {
      font-size: var(--iconxlmobile);
    }
  }
}
