<div
  class="col-12 d-flex flex-column justify-content-start align-items-center"
  id="home-wrapper"
>
  <div
    class="col-12 border-bottom border-2 d-flex flex-row justify-content-end align-items-center"
    id="header"
  >
    <div class="col-9 d-flex flex-row justify-content-end align-items-center">
      <h1>Curiosity</h1>

      <span class="material-symbols-outlined" id="menu"> menu </span>
    </div>
  </div>
  <div
    class="col-10 d-flex flex-row justify-content-center align-items-center"
    id="box-wrapper"
  ></div>
  <div
    class="col-12 d-flex flex-row justify-content-center align-items-center"
    id="disc-comm"
  >
    <div class="col-6" id="discussion-area">
      <h1>{{ discussion.title }}</h1>
      <p>
        {{ discussion.body }}
      </p>
    </div>
    <div class="col-6" id="comment-area"></div>
  </div>
</div>
