form {
  height: 20vh;
  border-radius: 1vh;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  margin: 10px;
  background: linear-gradient(to right, #b58ecc, #5de6de);

  button {
    background: linear-gradient(to right, #b58ecc, #5de6de);
    border: none;
    color: white;
    border-radius: 30px;
    padding: 1vh;
    font-family: "Work Sans";
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-color: white;
  }

  #icon {
    font-size: 5vw;
    color: white;
  }
  h1 {
    font-family: "Work Sans";
    font-weight: bolder;
    user-select: none;
  }
  span {
    user-select: none;
    margin: 0;
  }
  a {
    padding-top: 0.5vh;
    font-size: 1.2vh;
    color: black;
  }
  #banner {
    height: max-content;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;

    h1 {
      margin: 0;
      color: black;
      font-size: 1.5vw;
    }
  }
}

#box-wrapper {
  flex-wrap: wrap;
  background-color: white;
}
