<app-header></app-header>

<div
  class="col-12 d-flex flex-column justify-content-start align-items-center"
  id="home-wrapper"
>
  <div class="col-9" id="subject-wrapper">
    <h1>{{ course.courseName }}</h1>

    <h2>Course#{{ course.courseId }}</h2>

    <div class="col-12" id="spans">
      <span
        class="material-symbols-outlined"
        (click)="publish()"
        *ngIf="role === 'instructor'"
      >
        edit_square
      </span>
      <span class="material-symbols-outlined" *ngIf="role === 'instructor'">
        quiz
      </span>
    </div>
  </div>

  <div
    class="col-10 d-flex flex-row justify-content-center align-items-center"
    id="box-wrapper"
  >
    <form
      class="bg-light d-flex flex-row justify-content-center align-items-center col- fixed-center col-3"
      *ngFor="let discussions of discussions.reverse()"
      id="dislist"
      (ngSubmit)="viewDiscussion(discussions)"
    >
      <div
        class="form-group col-12 d-flex flex-row justify-content-start align-items-center"
        id="banner"
      >
        <span class="material-symbols-outlined" id="icon"> cruelty_free </span>
        <h1>{{ discussions.title }}</h1>
      </div>

      <button type="submit" class="col-11">View</button>
    </form>
  </div>
</div>

<!-- publish discussion form -->

<form
  class="bg-light d-flex flex-row justify-content-center align-items-start col- fixed-center"
  id="publish"
  (ngSubmit)="createDisc()"
>
  <div
    class="form-group col-12 d-flex flex-row justify-content-center align-items-center"
    id="banner"
  >
    <span class="material-symbols-outlined" id="icon"> cruelty_free </span>
    <h1>Publish<span style="color: #b58ecc">/Discussion</span></h1>
  </div>

  <div class="form-group col-11">
    <input
      type="name"
      class="form-control"
      id="name"
      placeholder="TYPE TITLE HERE..."
      [(ngModel)]="title"
      name="title"
    />
  </div>

  <div class="form-group col-11">
    <textarea
      id="message"
      name="message"
      rows="20"
      class="col-12"
      [(ngModel)]="body"
      name="body"
      placeholder="TYPE CONTENTS HERE..."
    ></textarea>
  </div>
  <button type="submit" class="btn col-11">Create</button>

  <span class="material-symbols-outlined" id="close" (click)="close()">
    close
  </span>
</form>
<app-loading *ngIf="loading"></app-loading>
