@import "../../styles.scss";

#home-wrapper {
  background-color: var(--color4);
  height: max-content;
  min-height: 100vh;
  top: 0;
  font-family: var(--font1);
}
#box-wrapper {
  flex-wrap: wrap;
  transition: 0.5s;
}
#menu {
  margin-right: 1vh;
  margin-left: 1vh;
  @include colorclip;
}
#header1 {
  height: 7vh;
  user-select: none;
}
#discussion-wrapper {
  height: max-content;
  flex-wrap: wrap;
}
#subject-wrapper {
  height: 16vh;
  @include flexCenter;
  gap: 0;
  margin: 0;
  flex-wrap: wrap;
  flex-direction: column;
  h1 {
    font-size: var(--fontmedium);
    font-weight: bolder;
    user-select: none;
    @include colorclip;
    margin-bottom: 0;
    width: 100%;
  }
  #spans {
    margin-top: 0.2vw;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    flex-direction: row;
    height: max-content;
  }
  span {
    user-select: none;
    cursor: pointer;
    font-size: var(--fontsm);
    height: var(--fontmedium);
    max-height: max-content;
    @include flexCenter;
    margin-top: 0;
    width: 2vw;
    background-color: var(--color1);
    color: var(--color4);
    margin-right: 0.4vw;
    border-radius: 5px;
  }
  h2 {
    width: max-content;
    text-align: left;
    font-size: var(--fontxs);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    width: 100%;
    @include colorclip;
  }
}
#publish {
  height: 0vh;
  resize: none;
  overflow: hidden;
  @include selfcenter;
  z-index: 69;
  flex-wrap: wrap;
  button {
    background: var(--bgcolor);
    border: none;
    color: var(--color3);
    border-radius: 30px;
    padding: 1vh;
    font-weight: bolder;
  }
  label {
    user-select: none;
    color: var(--color1);
    font-weight: bold;
  }
  #icon {
    font-size: var(--fontlarge);
    color: var(--color2);
  }
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }
  h1 {
    font-family: var(--font2);
    font-weight: bolder;
    user-select: none;
  }
  span {
    user-select: none;
    margin: 0;
  }
  a {
    padding-top: 0.5vh;
    font-size: var(--fontxs);
    color: var(--color3);
  }
  #banner {
    height: max-content;
    padding: 0;
    margin: 0;
    margin-top: 1vh;
    h1 {
      margin: 0;
      font-size: var(--fontmedium);
    }
  }
  #close {
    position: fixed;
    right: 1vh;
    top: 1vh;
    user-select: none;
    cursor: pointer;
  }
  #message {
    height: 70vh;
    outline: none;
    resize: none;
    border-style: solid;
    border-color: var(--shadow);
  }
}
#dislist {
  @include boxreg;
  button {
    @include button;
  }
  #icon {
    font-size: var(--fontxlarge);
    color: var(--color4);
  }

  span {
    user-select: none;
    margin: 0;
  }
  a {
    padding-top: 0.5vh;
    font-size: 1.2vh;
    color: var(--color3);
  }
  #banner {
    height: max-content;
    padding: 0;
    margin: 0;
    h1 {
      margin: 0;
      color: var(--color3);
      font-size: var(--fonts);
      font-weight: bolder;
    }
  }
}
@media screen and (max-width: 500px) {
  #box-wrapper form {
    @include smallbox;

    button {
      @include smallbutton;
    }
    #banner {
      width: max-content;
      max-width: 80%;
      min-width: 80%;
      margin-top: 2vh;

      h1 {
        font-size: var(--mobilefont);
      }
      span {
        font-size: var(--iconmobilexl);
        width: max-content;
      }
    }
  }
  #spans {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #spans span {
    font-size: 8vw;
    width: 10vw;
    height: 10vw;
  }
  #subject-wrapper {
    height: 12vh;
    width: 95vw;
    margin-left: 6vw;
  }
}
