<div class="col-12" id="home-wrapper">
  <app-header></app-header>
  <app-instruct-subjects
    *ngIf="role === 'instructor'"
    id="instructor"
  ></app-instruct-subjects>
</div>

<form
  class="bg-light d-flex flex-row justify-content-center align-items-center col-3 fixed-center"
  id="instructorfrm"
  (ngSubmit)="addCourse()"
>
  <div
    class="form-group col-12 d-flex flex-row justify-content-center align-items-center"
    id="banner"
  >
    <span class="material-symbols-outlined" id="icon"> cruelty_free </span>
    <h1>Create<span style="color: #b58ecc">/Course</span></h1>
  </div>

  <div class="form-group col-11">
    <label for="name">Course Name</label>
    <input
      type="name"
      class="form-control"
      id="name"
      placeholder="Enter Course Name"
      [(ngModel)]="courseName"
      name="name"
    />
  </div>
  <button type="submit" class="btn btn-primary col-11">Create</button>

  <span class="material-symbols-outlined" id="close" (click)="close()">
    close
  </span>
</form>

<router-outlet></router-outlet>
